// Colors idendity
c-0 = black
c-1 = white
c-2 = #e6e6e6
c-3 = #ff6702
c-4 = #979797
c-5 = #2A9B41

// Fonts
t-0 = 'arial', sans-serif
t-1 = 'arial', sans-serif
t-2 = 'arial', sans-serif
t-3 = 'arial', sans-serif
t-4 = 'arial', sans-serif
t-5 = 'arial', sans-serif

icomoon = 'icomoon'

// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */

transition-all()
	transition all 0.25s

img-res()
	width 100%
	height auto
	display block