h2 Buttons
.-mt10
  button.btn.-black Negro
  button.btn.-red.-ml5 Rojo
  button.btn.-grey.-ml5 Gris
  button.btn.-orange.-ml5 Naranja
  button.btn.-blue.-ml5 Azul
  button.btn.-green.-ml5 Verde
  button.btn.-black.-ml5(disabled) Deshabilitado

.-mt10
  button.btn.-black.-sm Pequeño
  button.btn.-black.-ml5 Defecto
  button.btn.-black.-md.-ml5 Medio
  button.btn.-black.-lg.-ml5 Grande
  button.btn.-black.-xlg.-ml5 Extra grande

.-mt30
  h2 Links
  .-mt10
    button.btn-link Defecto
    button.btn-link.txt-red.-ml10 Rojo
    button.btn-link.txt-green.-ml10 Verde
    button.btn-link.-ml10(disabled) Deshabilitado
