h2 Grid

.row.-mt10
	.col.-xs-2.align-center.-red.-pd: span.-fz-md col xs-2
	.col.-xs-2.align-center.-grey.-pd: span.-fz-md col xs-2
	.col.-xs-2.align-center.-red.-pd: span.-fz-md col xs-2
	.col.-xs-2.align-center.-grey.-pd: span.-fz-md col xs-2
	.col.-xs-2.align-center.-red.-pd: span.-fz-md col xs-2
	.col.-xs-2.align-center.-grey.-pd: span.-fz-md col xs-2

.row.-mt20
	.col.-sm-3.align-center.-red.-pd: span.-fz-md col sm-3
	.col.-sm-3.align-center.-grey.-pd: span.-fz-md col sm-3
	.col.-sm-3.align-center.-red.-pd: span.-fz-md col sm-3
	.col.-sm-3.align-center.-grey.-pd: span.-fz-md col sm-3

.row.-mt20
	.col.-md-4.align-center.-red.-pd: span.-fz-md col md-4
	.col.-md-4.align-center.-grey.-pd: span.-fz-md col md-4
	.col.-md-4.align-center.-red.-pd: span.-fz-md col md-4

.row.-mt20
	.col.-lg-6.align-center.-red.-pd: span.-fz-md col lg-6
	.col.-lg-6.align-center.-grey.-pd: span.-fz-md col lg-6

.row-pd.-mt20
	.col.-sm-3.align-center: span.-fz-md.-pd.-show.-red col sm-3
	.col.-sm-3.align-center: span.-fz-md.-pd.-show.-grey col sm-3
	.col.-sm-3.align-center: span.-fz-md.-pd.-show.-red col sm-3
	.col.-sm-3.align-center: span.-fz-md.-pd.-show.-grey col sm-3

.row.-mt20
	.col.-xs-8.-xs-os-2.align-center.-red.-pd: span.-fz-md col xs-8

.row.-mt20
	.col.-md-5.-md-os-1.align-center.-red.-pd: span.-fz-md col md-5
	.col.-md-5.align-center.-red.-pd: span.-fz-md col md-5

.row.-mt20
	.col.align-center.-red.-pd(style="width:300px;"): span.-fz-md col 300px
	.col-rest.align-center.-grey.-pd: span.-fz-md col rest

.row.-mt20
	.col.right.align-center.-red.-pd(style="width:300px;"): span.-fz-md col 300px
	.col-rest.align-center.-grey.-pd: span.-fz-md col rest

.row.-mt20
	.col.left.align-center.-red.-pd(style="width:200px;"): span.-fz-md col 200px
	.col.right.align-center.-red.-pd(style="width:200px;"): span.-fz-md col 200px
	.col-rest.align-center.-grey.-pd: span.-fz-md col rest

.row.-mt20
	.col.left.align-center.-red.-pd(style="width:20%;"): span.-fz-md col 20%
	.col.right.align-center.-red.-pd(style="width:30%;"): span.-fz-md col 30%
	.col-rest.align-center.-grey.-pd: span.-fz-md col rest

.ctr
	.row.-mt20
		.col.right.align-center.-red.-pd(style="width:300px;"): span.-fz-md col 300px
		.col-rest.align-center.-grey.-pd: span.-fz-md col rest