@font-face {
	font-family: "icon";
	src: url('/arquivos/icon.eot');
	src: url('/arquivos/icon.eot?#iefix') format('eot'),
		url('/arquivos/icon.woff2') format('woff2'),
		url('/arquivos/icon.woff') format('woff'),
		url('/arquivos/icon.ttf') format('truetype'),
		url('/arquivos/icon.svg#icon') format('svg');
}

.icon:before {
	font-family: "icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-carnes:before {
	content: "\E001";
}

.icon-clipboard-list:before {
	content: "\E002";
}

.icon-comida preparada:before {
	content: "\E003";
}

.icon-congelados:before {
	content: "\E004";
}

.icon-folder-add copia:before {
	content: "\E005";
}

.icon-folder-add:before {
	content: "\E006";
}

.icon-icon-01:before {
	content: "\E007";
}

.icon-icon-02:before {
	content: "\E008";
}

.icon-icon-03:before {
	content: "\E009";
}

.icon-icon-04:before {
	content: "\E00A";
}

.icon-icon-05:before {
	content: "\E00B";
}

.icon-icon-06:before {
	content: "\E00C";
}

.icon-icon-07:before {
	content: "\E00D";
}

.icon-icon-08:before {
	content: "\E00E";
}

.icon-icon-09:before {
	content: "\E00F";
}

.icon-icon-10:before {
	content: "\E010";
}

.icon-icon-11:before {
	content: "\E011";
}

.icon-icon-12:before {
	content: "\E012";
}

.icon-icon-13:before {
	content: "\E013";
}

.icon-icon-14:before {
	content: "\E014";
}

.icon-icon-15:before {
	content: "\E015";
}

.icon-icon-16:before {
	content: "\E016";
}

.icon-icon-17:before {
	content: "\E017";
}

.icon-icon-18:before {
	content: "\E018";
}

.icon-icon-19:before {
	content: "\E019";
}

.icon-icon-20:before {
	content: "\E01A";
}

.icon-icon-21:before {
	content: "\E01B";
}

.icon-icon-22:before {
	content: "\E01C";
}

.icon-icon-23:before {
	content: "\E01D";
}

.icon-icon-24:before {
	content: "\E01E";
}

.icon-icon-25:before {
	content: "\E01F";
}

.icon-icon-26:before {
	content: "\E020";
}

.icon-icon-27:before {
	content: "\E021";
}

.icon-icon-28:before {
	content: "\E022";
}

.icon-icon-29:before {
	content: "\E023";
}

.icon-icon-30:before {
	content: "\E024";
}

.icon-icon-31:before {
	content: "\E025";
}

.icon-icon-32:before {
	content: "\E026";
}

.icon-icon-33:before {
	content: "\E027";
}

.icon-icon-34:before {
	content: "\E028";
}

.icon-icon-35:before {
	content: "\E029";
}

.icon-icon-36:before {
	content: "\E02A";
}

.icon-iconos-02:before {
	content: "\E02B";
}

.icon-iconos-03-02:before {
	content: "\E02C";
}

.icon-pescados:before {
	content: "\E02D";
}

.icon-quesos-fiambre:before {
	content: "\E02E";
}
