.solicitudes
    padding 50px 0
    .g-table
        text-align center
    .g-title
        margin-bottom 25px

.b2-tab-id
    width 21%

.b2-tab-fecha,.b2-tab-cliente
    width 18%

.b2-tab-estado
    width 15%

.b2-tab-cot
    width 28%
    span
        display inline-block
        width 20px
        height 20px
        line-height 20px
        background c-0
        color c-1
        font-size 12px
        border-radius 50%
        margin-right 5px
        margin-left 0
    a
        margin 0
        text-decoration underline